# These files are too large for github
data/farm_production/*

# These files are small but there's way too many of them
data/habitat_suitability/*/*/*
data/habitat_suitability_decadal/*/*/*
data/habitat_suitability_decadal_change/*/*/*

plots/farm_production_checks/*
plots/farm_production_checks/*/*

plots/habitat_suitability_decadal/*
plots/habitat_suitability_decadal/*/*
